.login-popup {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;   
  align-items: center;         
  padding-right: 17%;           
  position: relative;
}


/* Make form appear above overlay */
.login-popup-container {
  position: relative;
  width: 350px;
  background-color: white;
  padding: 30px 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
  animation: fadeIn 0.4s ease;
}



/* Title */
.login-popup-title {
  text-align: center;
  color: black;
}

.login-popup-title span{
  margin-top: 1rem;
  border-bottom: 4px solid tomato;
}

/* Input group */
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inputs */
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.3s ease;
}

/* Input focus */
.login-popup-inputs input:focus {
  border-color: tomato;
  box-shadow: 0 0 0 2px rgba(255, 99, 71, 0.2);
}

/* Button */
.login-popup-container button {
  border: none;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover */
.login-popup-container button:hover {
  background-color: #e5533d;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
