.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s ease-in-out;
  z-index: 100; 
}

.blurred {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html {
  scroll-behavior:auto;
}

body {
  margin: 0;
  padding: 0;
}

